<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<context:property-placeholder
		location="classpath:app.properties" />

	<beans:import resource="hibernateConfig.xml" />
	<beans:import resource="app-beans.xml" />
	<beans:import resource="dao-beans.xml" />
	<beans:import resource="service-beans.xml" />
	<beans:import resource="job-beans.xml" />
	<beans:import resource="app-ws-beans.xml" />
	<context:component-scan
		base-package="org.service.app" />
	<context:annotation-config />

	<beans:bean id="messageSource"
		class="org.service.app.util.MessageBundle">
		<beans:property name="basename">
			<beans:value>app</beans:value>
		</beans:property>
	</beans:bean>
	<!-- <beans:bean id="appFilter" class="org.service.app.filters.manager.AppFilterManager"></beans:bean> -->
</beans:beans>